<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="container">
    <h2>Entrar</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <input type="text" name="username" placeholder="Usuário" class="form-control" required>
        <input type="password" name="password" placeholder="Senha" class="form-control mt-2" required>
        <button type="submit" class="btn btn-primary mt-3">Login</button>
    </form>
</body>
</html>
