<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="login-container register-container">
        <h1>Cadastrar Novo Usuário</h1>
        
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-error">{{ messages[0] }}</div>
            {% endif %}
        {% endwith %}
        
        <form method="POST">
            <input type="text" name="fullname" placeholder="Nome Completo" required>
            <input type="text" name="phone" placeholder="Telefone" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <input type="text" name="username" placeholder="Nome de Usuário" required>
            <input type="password" name="password" placeholder="Senha" required>
            <div class="checkbox-container">
                <input type="checkbox" id="is_admin" name="is_admin">
                <label for="is_admin">Usuário Administrador</label>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <a href="{{ url_for('users') }}">Voltar para usuários</a>
    </div>
</body>
</html>
